#Ignore files created by Visual Studio
*.suo
*.user
*.sdf
*.opensdf
*.g.i.cs

*/[Oo]bj/
*/[Bb]in/
*/[Bb]ld/

*.psess

packages

Bin
Debug
ipch
obj/*
bin/*

Microsoft.Phone.Controls.Toolkit/*.sln.docstates
Microsoft.Phone.Controls.Toolkit/[Oo]bj/
Microsoft.Phone.Controls.Toolkit/[Bb]in
*/applicationhost.config

*.pubxml.user